.placessidebar { padding-top: 10px; }
.placessidebar row { min-height: 32px; padding: 0 24px; background: @theme_bg_color; }
.placessidebar row label.sidebar-label { padding-left: 8px; }
.placessidebar row { box-shadow: none;}
.placessidebar row image.sidebar-icon { background: none; }
.placessidebar row:selected { background-color: alpha (@theme_fg_color, 0.1); }
.placessidebar row:selected label.sidebar-label { color: @theme_text_color; }
.placessidebar row label.sidebar-label { color: alpha (@theme_text_color, 0.8); }




decoration, .placessidebar { background: @theme_bg_color; }
.placessidebar { border-right: 1px solid @borders; }
window, headerbar { background: @theme_base_color; }
headerbar { 
    margin-left: 210px;
    border-left: 1px solid @borders;
}
headerbar { border-top-left-radius: 8px; }
headerbar { border-top-left-radius: 0; }



headerbar button {
    background: @theme_base_color;
}

headerbar button.media-playback {
    background: none;
    box-shadow: none;
    padding: 4px;
    margin: 0;
    border: 0;
}

headerbar label.playback-label {
    font-size: 12px;
}

.progress-slider {
  padding: 0;
}

.progress-slider slider {
  margin: -8.5px;
  min-height: 15px;
  min-width: 15px;
  padding: 0;
  background: none;
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0);
}

.volume-slider slider {
  margin: -6px;
  min-height: 11px;
  min-width: 11px;
  padding: 0;
  background: @theme_base_color;
}

.track-view-header {
  background-color: @theme_base_color;
  border-top: 1px solid alpha(@borders, 0.5);;
  border-bottom: 1px solid alpha(@borders, 0.5);;
  font-size: 12px;
}

scrolledwindow { border-style: none; }

.rounded { 
  box-shadow: -5px -5px 14px rgba(0,0,0,.1);
}

button.album-back {
  padding: 2px 8px;
  background: @theme_base_color;
}

.navigation-header {
  padding: 8px 18px;
  border-bottom: 1px solid @borders;
}


song-item .play-btn {
  background-color: alpha(@theme_base_color, 0.5);
}


overshoot { background: transparent; border:none; }

.accent-color {
  color: @theme_selected_bg_color;
}

flowboxchild { min-width: 200px }

/* .large flowboxchild {
	min-width: 256px;
} */
